body {
  display: flex;
  align-items: center;
  background-color: rgb(238, 238, 238); 
  justify-content: center;
  height: 100vh;  
}

.container {
  display: flex;
  gap: 15px; 
  width: 50%;
}

img {
  max-width: 10%;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  max-height: 300px;
}

img:nth-of-type(2){
min-width: 45%;
padding: 0 10px;
}
